/* Nature - an open source xhtml/css website layout by Studio-plume.org kty 
(Jan 04, 2007)
 */

body {
margin: 0 auto;
padding: 0;
font: 76% Verdana,Tahoma,Arial,sans-serif;
background: #211d1e url(images/body_deg.gif) repeat-x}

#wrap {
background: #000000;
color: #ffffff;
border:  none;
margin: 0 auto;
width: 900px;}

#header {
clear: both;
margin: 0px 0em 0px 0em;
padding: 0;
height: 75px;background-color: #000000;}

#header h3 {
width: 400px;
margin: 0px 0px 0px 15px;
float: left;
}

#header p {
width: 900px;
float: right;
text-align: center;
color: #a0a0a0;
margin: 0px 0px 0px 0px;
font-size: 0.8em;
line-height: 1.2em;height: 35px;}



#avmenu {
clear: left;
float: left;
width: 150px;
margin: 0 0 10px 0;
padding: 0;
font-size: 0.9em;
}

#avmenu ul {	
list-style: none;
width: 150px;
margin: 0 0 20px 0;
padding: 0;
font-size: 1.1em;
}	

#avmenu li {
margin-bottom: 4px;
}

#avmenu li a {
font-weight: bold;
height: 20px;
text-decoration: none;
color: #fffff1;
display: block;
padding: 6px 0 0 10px;
background: #1e0c0c;
border-left: 1px #846837 solid;}	
	
#avmenu li a:hover {
background: #856565;
color: #fffff1;
border-left: 4px #47381e solid;
}

.announce {
margin: 10px 0 10px 0;
padding: 10px;
width: 130px;
color: #a8a8a8;
background-color: #000000;
line-height: 1.3em;
}

#extras {
float: right;
width: 150px;
margin: 0 0 10px 0;
padding: 0;
font-size: 0.9em;
line-height: 1.5em;
}

#extras p {
margin: 0 0 1.5em 0;
}

#content {
margin: 0em 160px 20px 160px;
padding: 0 10px 0 10px;
line-height: 1.6em;
text-align: left;}

#content h2 {
font-size: 1.5em;
margin: 0 0 0.5em 0;
}

#content img {
   display: block;
    margin-left: auto;
    margin-right: auto }

h3 {
font-size: 1.3em;
margin: 0 0 10px 0;
}

a {
text-decoration: none;
color: #b6952a;
}

a:hover {
text-decoration: underline;
color: #b6952a;
}


#footer {
clear: both;
margin: 0 auto;
padding: 0px 0em 0px 0em;
width: 900px;
text-align: center;
color: #808080;
font-size: 0.9em;
height: 40px;
}

#footer a {
color: #808080;
text-decoration: none;
}

#footer a:hover {
text-decoration: underline;
}

.left {
margin: 0px 7px 0px 5px;
float: left;
}

.right {
margin: 0px 7px 0px 5px;
float: right;
}

.textright {
text-align: right;
}

.center {
text-align: center;
}

.small {
font-size: 0.8em;
}

.bold {
font-weight: bold;
}

.hide {
display: none;
}
